RewriteEngine on
RewriteCond %{HTTP_HOST} ^rubackyte.dev$
RewriteCond %{REQUEST_URI} !^/views/

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^(.*)$ /views/$1

RewriteCond %{HTTP_HOST} ^rubackyte.dev$
RewriteRule ^(/)?$ views/index.php [L]


