/** MEDIA QUERY **/
@media only screen and (max-width: 1200px) {
    .archyvas-data2 {
    margin-left: 155px;
}

    .bottom-navbar .navbar-nav > li > a {
        font-size: 12px;
    }
    
    #main_about {
        padding-bottom: 40px;
        height: auto;
    }
    
    footer ul li a {
        font-size: 12px;
    }
    
    .archyvas_juosta .metai {
        margin-right: 35px;
    }

    #main_about_her .main_img_about {
        width: 360px;
    }
    
    .galerija-on-mobile {
        text-align: center;
    }
    
    .diskografija_box:nth-child(5),
    .diskografija_box:nth-child(9),
    .diskografija_box:nth-child(13) {
        margin-right: 65px;
    }
    
    .diskografas-on-mobile {
        text-align: center;
    }
    
    .diskografas-on-mobile h2 {
        text-align: left;
        padding-left: 25px;
    }
    
    #dvd .right-side {
        text-align: center;
    }
    
    #dvd .right-side .youtube-g p {
        left: 50%;
    }
    
    .left-side {
        padding-left: 25px;
    }
    
    .diskografija_box section,
    .dvd_box section {
        width: 100% !important;
        left: 0;
    }
    
    #diskografija h2 {
        font-size: 16px;
    }
    
    .message-sended {
        width: 70%;
    }
    
    .inside_box_cd .open_cd_img {
        height: 380px;
    }
    
    .inside_box_cd h2 {
        font-size: 15px;
    }
    
    .onlyDVD .inside_box_cd .open_cd_img {
        height: 425px;
    }
}

@media only screen and (max-width: 990px) {
    .on_mobile_100 {
        width: 100%;
        padding-left: 10px;
    }
    
    .bottom-navbar .navbar-nav > li > a {
        font-size: 10px;
    }
    
    .bottom-navbar .navbar-nav {
        margin-left: 60px;
    }
    
    #main_about_her img {
        height: 169px;
        width: 266px;
    }
    
    #main_about_her .main_img_about {
        height: 88px;
        width: 255px;
    }
    
    .on_mobile_footer {
        width: 100%;
    }
    
    footer ul li a.active_bottom::before {
        display:  none;
    }
    
    footer ul li a {
        margin-right: 0px;
        padding-right: 5px;
    }
    
    .on_mobile_footer ul {
        text-align: center;
    }
    
    .archyvas-padding-none {
        width: 100%;
    }
    
    .diskografas-on-mobile h2 {
        text-align: center;
    }
    
    
    .diskografija_box {
        margin-right: 20px !important;
    }
    
    .diskografija_box:nth-child(6), .diskografija_box:nth-child(7), .diskografija_box:nth-child(8), .diskografija_box:nth-child(9), .diskografija_box:nth-child(10), .diskografija_box:nth-child(11), .diskografija_box:nth-child(12), .diskografija_box:nth-child(13) {
        margin-top: 10px;
    }
    
    .left-side {
        padding-left: 0px;
    }
    
    #dvd .left-side,
    #dvd .right-side {
        width: 100%;
    }
    
    #dvd .right-side {
        margin-top: 30px;
        text-align: left;
    }
    
    #dvd .right-side .youtube-g p {
        left: 0%;
    }
    
    .inside_box_cd h2 {
        font-size: 12px;
    }
    
    .open_box_cd ul {
        font-size: 12px;
    }
    
    #diskografija h2 {
        font-size: 13px;
    }

    .archyvas-data2 {
    	margin-left: 120px;
    }
    
    .inside_box_cd .open_cd_img {
        height: 280px;
    }
    
    .onlyDVD .inside_box_cd .open_cd_img {
        height: 320px;
    }
    
}

@media only screen and (max-width: 913px) {
     .archyvas_juosta .metai {
        margin-right: 25px;
        font-size: 14px;
    }   
    
    .archyvas_juosta {
        font-size: 14px;
    }
    
    .archyvas-data {
        width: 23%;
    }
    
    .archyvas-informacija {
        width: 77%;
    }

    .archyvas-data2 {
    	margin-left: 135px;
    }
    
}

@media only screen and (max-width: 870px) {
    .bottom-navbar .navbar-nav {
        margin-left: 20px;
    }
    
    .bottom-navbar .navbar-nav > li {
        padding-right: 1px;
    }
}

@media only screen and (max-width: 800px) {
    .bottom-navbar .navbar-nav > li > a {
        font-size: 10px;
    }
}


@media only screen and (max-width: 767px) {
    #header {
        min-height: 500px;
    }
    
    .top_menu_mobile {
        display: block;
        position: absolute;
        top: 5px;
        right: 15px;
    }  
    
    .navbar-toggle {
        margin-top: 20px;
        margin-right: 30px;
    }
    
    .navbar-inverse .navbar-toggle {
        border-color: #fff;
    }
    
    .navbar-toggle {
        border-radius: 0;
    }
    
    #navbar {
        position: relative;
        z-index: 99999;
        background-color: #000;
        margin-top: 11px;
        border-bottom: 1px solid rgba(243, 243, 243, 0.6);
    }
    
    .container>.navbar-collapse {
        margin: 0;
    }
    
    .navbar-nav,
    .bottom-navbar .navbar-nav {
        margin: 0;
    }
    
    .navbar-nav li a {
        text-align: center;
    }
    
    .bottom-navbar .navbar-nav > li > a.active_bottom::before {
        display: none;
    }
    
    .navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
        background-color: transparent;
    }
    
    #main_about {
        padding-left: 15px;
        padding-right: 15px;
    }
    
    #main_about p {
        font-size: 14px;
    }
    
    .container>.navbar-header {
        margin: 0;
    }
    
    .left-margin {
        padding-left:0px;
    }
    
    footer ul li {
        display: block;
        text-align: left;
    }
    
    footer {
        height: auto;
        padding-bottom: 40px;
    }
    
    footer .social-media {
        bottom: -10px;
    }
    
    .mobile-top-contacts {
        margin-top: 50px;
    }
    
    #kontaktai {
        /*height: 680px;*/
    }
    
    .padding_on_mobile_contacts {
        padding-left: 30px;
        padding-right: 30px;
    }
    
    .forma input {
        width: 100%;
    }
    
    #footer {
        height: 210px;
    }
    
    #footer .bottom_img {
        height: 250px;
    }
    
    .on-mobile-koncertai-first,
    .on-mobile-koncertai-second {
        margin-top: 0 !important;
    }
    
    .gallery_bottom h2:nth-child(1),
    .gallery_bottom h2:nth-child(2) {
        font-size: 14px;
    }
    
    #dvd .left-side {
        text-align: center;
    }
    
    #dvd h2 {
        text-align: center;
    }
    
    #dvd .dvd_box {
        margin: 0 auto;
    }
    
    #open_cd .open_box_cd {
        width: 95%;
        height: 800px;
    }
    
    #open_cd .inside_box_cd {
        width: 98%;
        height: 780px;
        margin: 10px 0 0 7px;
    }
    
    .inside_box_cd .open_cd_img {
        width: 200px;
        height: 200px;
        margin: 20px auto;
    }
    
    #open_cd > div > div > div > div > div > div > h2 {
        text-align: center;
    }
    
    .diskografija_box section .open_box_cd,
    .dvd_box section .open_box_cd {
        height: auto;
        width: 97%;
    }
    
    .close_btn {
        right: 30px;
    }
    
    .diskografija_box section .inside_box_cd,
    .dvd_box section .inside_box_cd {
        height: 500px;
        margin-bottom: 10px;
        overflow-y: scroll;
    }
    
    .inside_box_cd{
        overflow-y: scroll;
        height: 100%;
    }

    .bottom-navbar {
        background: none;
    }

    .navbar-header .navbar-toggle {
        display: block;
        float: none;
        margin: 0 auto;
	margin-top: 20px;
    }

     .archyvas-data2 {
    	margin-left: 165px;
    }
    
    .message-sended h3 {
        font-size: 19px;
    }
}

@media only screen and (max-width: 750px) {
    .youtube-g {
        display: block !important;
        position: relative !important;
        margin: 0 auto !important;
        float: none !important;
    } 
}

@media only screen and (max-width: 661px) {
     #main_about {
        height: 450px;
     }   
    
    .archyvas-data,
    .archyvas-informacija {
        width: 100%;
        text-align: center;
    }
    
    .on-mobile-koncertai-first {
        text-align: center;
        margin-bottom: 15px;
    }
    
    .on-mobile-koncertai-second {
        text-align: center;
    }

    .archyvas-data2 {
    	margin-left: 0;
        text-align: center;
    }
    
    .cds {
        margin-left: 0;
        text-align: center;
    }
}

@media only screen and (max-width: 555px) {
     #main_about {
        height: auto;
        padding-bottom: 40px; 
     }   
    
    #header {
        min-height: 250px;
    }

    .navbar-toggle {
        position: relative;
        float: right;
        padding: 3px 3px;
        margin-top: 8px;
        margin-right: 15px;
        margin-bottom: 8px;
        background-color: transparent;
        background-image: none;
        border: 1px solid transparent;
        border-radius: 4px;
    }
    
    .bottom-navbar {
        top: 214px;
    }
    
    .navbar {
        min-height: 25px !important;
    }
    
    .navbar-toggle {
        margin-top: 9px;
        margin-right: 25px;
    }
    
    .navbar-brand {
        padding: 15px 5px;
        font-size: 14px;
    }
    
    .navbar-inverse .navbar-brand {
        font-size: 14px;
    }
    
    #kontaktai h2,
    #kontaktai .contact .contact_row p,
    #kontaktu_forma h2 {
        font-size: 16px;
    }
    
    #kontaktai h3 {
        font-size: 18px;
    }
    
    .forma label {
        font-size: 14px;
    }
    
    #navbar {
        margin-top: 2px;
    }
    
    .diskografija_box {
        margin-right: 5px !important;
    }
    
    .diskografas-on-mobile h2 {
        padding-left: 0;
    }
    
    .bottom-navbar {
        height: 35px;
        
    }
    
    .bottom-navbar .navbar-toggle {
        margin-top: 7px;
        margin-right: 17px;
    }
    
    .bottom-navbar .navbar-toggle {
         border-radius: 0px;   
    }
    
    .mobile_top_menu .navbar-brand {
        padding: 5px 5px;
        font-size: 12px;
    }
    
    .mobile_top_menu .navbar-brand {
        height: 32px;
    }
    
    .navbar-inverse .navbar-nav > li > a > span {
        display: none;
    }
    .navbar-inverse .navbar-nav > li > a {
        font-size: 12px;
        padding: 0;
    }
    
    .navbar-header .navbar-toggle {
        display: block;
        float: none;
        margin: 0 auto;
	margin-top: 5px;
    }
    
}

@media only screen and (max-width: 473px) {
    #footer {
        height: 140px;
    } 
    
    #footer .bottom_img {
        height: 150px;
    }
}

@media only screen and (max-width: 457px) {

    .on-mobile-koncertai-second {
        font-size: 14px;
    }
    
    .archyvas_juosta {
        font-size: 12px;
    }
        
    .archyvas_juosta .metai {
        font-size: 12px;
    }
    
    .on-mobile-koncertai-second .metai {
        width: 100%;
    }
}

@media only screen and (max-width: 385px) {
    #dvd .right-side .youtube-g {
        width: 264px;
        height: 164px;
    }
    
    #dvd .right-side .youtube-g a {
        width: 254px;
        height: 130px;
    }
    
    #dvd .right-side a iframe {
        width: 244px;
        height: 120px;
        margin: 5px 0 0 5px;
    }
    
    #open_cd .open_box_cd {
        width: 90%;
        height: 900px;
    }
    
    #open_cd .inside_box_cd {
        width: 98%;
        height: 890px;
        margin: 5px 0 0 2px;
    }
    
    .inside_box_cd .open_cd_img {
        width: 200px;
        height: 200px;
        margin: 0 auto;
    }
    
    #open_cd > div > div > div > div > div > div > h2 {
        text-align: center;
    }
}

@media only screen and (max-height: 885px) {
    #open_cd {
        overflow: scroll;
    }
}

@media only screen and (max-width: 327px) {
    #main_about_her .main_img_about {
        height: 58px;
        width: 185px;
    }
    
    #main_about_her img {
        height: 109px;
        width: 206px;
    }
    
    .padding_on_mobile_contacts {
        padding-left: 15px;
        padding-right: 15px;
    }
    
    #dvd .dvd_box {
        width: 233px;
        height: 356px;
    }
    
    #dvd .dvd_box .dvd-small-img {
        width: 223px;
        height: 346px;
    }
}

@media only screen and (max-width: 297px) {
    #galerija .img_background {
        width: 231px;
        height: 183px;
    }
    
    #galerija .img_background .small-img {
        width: 221px;
        height: 173px;
        margin: 5px 0 0 5px;
    }
}

@media only screen and (max-height: 750px) {
    .outsideS .open_box_cd {
    	margin-top: 3%;
    }
}

@media only screen and (max-width: 1050px) {
   .outsideS .open_box_cd,
   .outsideS .inside_box_cd {
    	width: 97%;
   }
}

@media only screen and (max-width: 700px) {
	.outsideS .open_box_cd,
	.outsideS .inside_box_cd {
    		width: 95%;
	}
}

@media only screen and (max-width: 400px) {
	.outsideS .open_box_cd {
    		width: 90%;
	}

	.outsideS .inside_box_cd {
		width: 94%;
	}
}

@media only screen and (max-height: 600px) {
    .outsideS .inside_box_cd {
	height: 480px;
     }

    .outsideS .open_box_cd {
	height: 500px;
    }
}

@media only screen and (max-height: 520px) {
    .outsideS .inside_box_cd {
	height: 440px;
     }

    .outsideS .open_box_cd {
	height: 460px;
    }
}

@media only screen and (max-height: 480px) {
    .outsideS .inside_box_cd {
	height: 380px;
     }

    .outsideS .open_box_cd {
	height: 400px;
    }
}